/* global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
:root {
    --primary-color: #2196f3;
    --accent-color: #448aff;
    --text-color: #303030;
}
body {
    margin: 0px;
    padding: 0px;
    color: #303030;
}
.layout {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
}
.btn-default {
    border: 2px solid transparent;
    background-color: var(--primary-color);
    padding: 8pt;
    font-size: 13pt;
    font-family: Roboto, sans-serif;
    color: #fff;
    outline: none;
    text-align: center;
    transition: opacity .2s;
    text-decoration: none;
}
label.btn-default, button.btn-default {
  cursor: pointer;
}
.btn-bordered {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}
label.btn-default:hover, button.btn-default:hover {
    opacity: .7;
}
label.btn-default:active, button.btn-default:active {
    opacity: .4;
}
.form-group {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.label-default {
    color: #404040;
    padding-left: 7pt;
    margin-bottom: 5px;
}
.inp-default {
    resize: none;
    padding: 8pt;
    font-family: Roboto, sans-serif;
    font-size: 13pt;
    background-color: #eee;
    border: 1px solid #eee;
    transition: background-color .2s;
}
.inp-default:focus {
    background-color: #fff;
}
.btn-back {
    align-self: flex-start;
    padding: 10px;
    margin: 5px;
    opacity: .4;
    transition: opacity .2s;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-back > span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 11pt;
}
.btn-back:hover {
    opacity: .7;
}
.btn-back:active {
    opacity: 1.0;
}
.form-group:first-child {
    margin-top: 0px;
}
.btn-default > i {
    margin-right: 10px;
}
.upload-default {
    display: none;
}
.link-span {
    text-align: center;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 11pt;
    font-weight: 500;
    transition: opacity .2s;
}
.link-span:hover {
    opacity: .7;
}
.link-span:active {
    opacity: .4;
}
#geo3d-view-container {
    flex: 1;
    display: flex;
    background-color: var(--text-color);
}
.aside {
    min-width: 300px;
    width: 300px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
}
.aside-top {
    display: flex;
    flex-direction: column;
}
.levels {
  position: absolute;
  left: 330px;
  border-left: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.levels > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 14pt;
  font-weight: 500;
}
.levels > div:not(.active) {
  cursor: pointer;
  transition: opacity .2s;
}
.levels > div:not(.active):hover {
  opacity: .7;
}
.levels > div:not(.active):active {
  opacity: .4;
}
.levels > div.active {
  background-color: #0277bd;
  color: #fff;
}
.palette {
  display: flex;
  flex-direction: row;
}
.color-column {
  display: flex;
  flex-direction: column;
}
.single-color {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: .5px;
  transition: opacity .2s;
  border: 1px solid #ddd;
}
.single-color:hover {
  opacity: .7;
}
.single-color:active {
  opacity: .4;
}
